*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
main{
    display: flex;
    height: 680px;
    background-color: antiquewhite;
}
.navbar{
    width: 200px;
    height: 700px;
    background-color: #D0EDD3;
}
header{
    width: 100%;
    height : 100px;
    background-color: #7ADB30;
}
.parent{
    width: 100%;
    display: flex;
    /* flex-flow: row wrap; */
}
.child1{
    width: 100%;
    height: 700px;
}
article{
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #7EE232;
}
.aside{
    width: 200px;
    height: 600px;
    background-color: #F2FADA;
}
.container{
    width: 100%;
}
.aside2{
    width: 100%;
    height: 400px;
    background-color: #F2FADA;
    display: none;
}
.f2{
    display: none;
}
@media (max-width: 768px) {
    main{
    display: block;
    }
    .navbar{
        width: 100%;
        height: 80px;
    }
    .aside{
        /* height: 500px; */
        display: none;
    }
    .aside2{
        display: block;
    }
    .f1{
        display: none;
    }
    .f2{
        display: block;
        width: 100%;
        height: 80px;
        background-color: #7EE232;
    }
    /* article{
        height: 400px;
    } */
} 
